.singlePr {
  display: flex;
  justify-content: space-around;
}

.pr-img{
    width: 55%;
}

.data{

}

@media (max-width: 670px) {
    .singlePr{
        flex-wrap: wrap;
    }

    .pr-img{
        width: 100%;
    }
    
    .data{
        height: 200px;
        line-height: 70px;
    }
}
